data/*.rda

data/*.rda
*tar.gz
projects/project4/data/
projects/project4/data/spam_2/*
projects/project4/data/easy_ham/*

projects/project4/data/spam_2/
projects/project4/data/easy_ham/


projects/project4/data/*.tar*
